# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# SQLite
*.db

# HuggingFace / Transformers cache
.cache/
huggingface/
hf_cache/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log
